.absolute {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 200px;
    height: 100px;
    background-color: green;
}

.fixed {
	position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(140, 2, 204);
    width: 200px;
    height: 100px;
}

.relative {
    width: 200px;
    height: 100px;

}

.sticky {
	position: sticky;
	top: 50px;
	background-color: greenyellow;
	width: 100px;
    height: 100px;
	
}